body {
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  color: #242424;
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 1.4rem;
}

.navbar {
  background-color: #242424;
}

h2,
h5,
h6,
#sideNav,
.family-name,
.fa-user-tag,
.list-inline-item i:hover,
.linkedin-link a {
  color: #1874cd;
}

h2,
h4,
h5,
h6,
#sideNav {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-mobile-name {
  margin: 0;
  position: absolute;
  top: 0pt;
  left: 16pt;
  display: none;
}

h1,
.nav-mobile-name,
.mobile-name {
  font-family: "Just Another Hand", cursive;
  font-size: 7.5rem;
  letter-spacing: 0.1rem;
}

h1,
.nav-mobile-name,
.mobile-name,
.edu-icons {
  color: #696969;
}

.list-social-icons a,
a:hover,
a:focus {
  color: #c4c4c4;
}

.list-social-icons {
  font-size: 1.5rem;
}

.list-icons {
  font-size: 3rem;
}

.list-social-icons a:hover,
#sideNav .navbar-nav .nav-item a:hover,
.nav-link a:hover,
a {
  color: #add8e6;
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: #c4c4c4;
}

.nav-item {
  border-bottom: 0.1rem groove #696969;
}

.navbar-nav:first-child {
  border-top: 0.1rem groove #696969;
}

.fa-ul {
  margin-left: 0rem;
}

.form-group {
  padding-left: 0;
}

.progress-bar,
.btn {
  background-image: linear-gradient(
    to right,
    #bfefff,
    #8dd2f3,
    #5fb4e8,
    #3594dc,
    #1874cd
  );
}

.btn {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  width: 50%;
  border: none;
}

.card {
  border: none;
}

button:focus,
button:active {
  outline: solid #add8e6 2px;
}

@media (min-width: 320px) and (max-width: 992px) {
  #mobile-dk-mode-toggle {
    display: block;
  }

  h1,
  h4,
  #desktop-dk-mode-toggle {
    font-size: 5rem;
    display: none;
  }

  .mobile-img {
    height: 150px;
    width: 150px;
    border: solid whitesmoke 5px;
    border-radius: 100%;
  }

  .nav-mobile-name,
  .mobile-name {
    font-size: 3rem;
  }

  .mobile-profession {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .resume-section {
    padding-top: 7rem !important;
    min-height: 100vh;
  }

  .linkedin-link {
    text-align: center !important;
  }
}

.contact-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile-name,
.mobile-name {
  font-size: 3rem;
}

#skill-bars {
  width: 75%;
  margin: 0 auto;
}

.form-group {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 768px) {
  #skill-bars {
    width: 100%;
    margin: 0 auto;
  }
  .form-group {
    width: 100%;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 18rem;
  }
  .resume-section {
    padding-top: 3rem !important;
    padding-bottom: 10rem !important;
  }

  #sideNav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100vh;
  }
  .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
 .navbar-brand .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.3rem solid #1873cde0;
    border-radius: 100%;
  }
.navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  .navbar-collapse .navbar-nav {
    width: 100%;
  }
  .navbar-nav:first-child {
    border-top: none;
  }

  .nav-mobile-name,
  .mobile-name,
  .mobile-profession {
    display: none;
  }
}

.bg-highlight {
  background-color: #ebe8dd !important;
}

.bg-inherit {
    background-color: inherit !important;
}

a.link {
    color: #1874cd;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a.link:hover {
  color: #a1c7ff;
  text-decoration: underline;
}

a.link:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a.link:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a.link:not([href]):not([tabindex]):focus {
  outline: 0;
}

a.inherit {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/***************************************************************
 * Dark Mode
 ***************************************************************/
 /* Mobile slider */
 @media (max-width: 992px) {
  /* TODO: add attr */
  #mobile-dk-mode-toggle {
    display: block;
  }

  #desktop-dk-mode-toggle {
    display: none;
  }
}

/* Desktop slider */
@media (min-width: 993px) {
  #mobile-dk-mode-toggle {
    display: none;
  }

  /* TODO: add attr */
  #desktop-dk-mode-toggle {
    display: block;
  }
}

/* Desktop/Mobile slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


 .dark-bg-highlight {
  color: rgb(204, 201, 194);
  background-color: rgb(72, 75, 78);
}

.dark-form {
  border-color: rgb(54, 59, 61);
}

.progress-bar-dark {
  background-image: linear-gradient(
    to right,
    rgb(0, 60, 80),
    rgb(11, 73, 104),
    rgb(18, 86, 127),
    rgb(26, 95, 149),
    rgb(17, 84, 148)
  );
}

.dark-bg,
.dark-form {
  color: rgb(188, 185, 179);
  background-color: rgb(43, 45, 48);
}

.dark-bg,
.dark-form,
.dark-bg-highlight,
.progress-bar-dark {
  transition: 0.5s;
}
